<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Nick's connection-->
    <add name ="connectionString" connectionString = "Server = DESKTOP-9ORMB3K; Database = 291Project; Trusted_Connection = yes;"/>
		<!--Charlene's connection-->
		<!--add name ="connectionString" connectionString = "Server = JEMISON\SQLEXPRESS; Database = 291Project; Trusted_Connection = yes;"/-->

	  <!--Charlene's connection-->
		<!--add name ="connectionString" connectionString = "Server = JEMISON\SQLEXPRESS; Database = 291Project; Trusted_Connection = yes;"-->
    
		<!-- Haris' Connection-->
    <!--add name ="connectionString" connectionString = "Server = DESKTOP-KCPC9PN; Database = LabProjectTest; Trusted_Connection = yes;" -->

		<!-- Travis' Connection-->
		<!-->add name ="connectionString" connectionString = "Server = DESKTOP-L3H29R4; Database = 291Project; Trusted_Connection = yes;"/-->

		</connectionStrings>
</configuration>