<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

	<!--Charlene's connection-->
    <!--add name ="connectionString" connectionString = "Server = JEMISON\SQLEXPRESS; Database = 291Project; Trusted_Connection = yes;" -->
		<!-- Haris' Connection-->
    <!--add name ="connectionString" connectionString = "Server = DESKTOP-KCPC9PN; Database = LabProjectTest; Trusted_Connection = yes;" -->
		</connectionStrings>
</configuration>